div{
    padding: 5px;
    height: 200px;
    width: 200px;
    text-align: center;
}
.red{
    color: red;
    font-weight: bold;
}
#first{
position: relative;
border: 3px green dotted

}
#second{
position: absolute;
border: 3px yellow dotted;
top: 173px;
}