html{
    font-family: "Poiret one", Static ;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
header{
    background-color: #dcb5ff;
    text-align: center;
    font-weight: bold;
    border: 2px solid purple;
    border-top: 0; 
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 10;
}
.headertext{
    color: white;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}
header img{
    width: 100px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}
#sidemenu{
    width: 200px;
    height: 100%;
    background-color: #f8f9fa;
    position: fixed;
    padding-top: 165px;
    left: 5px;
    border-right: 1px solid #e9ecef;
    box-shadow: 0 2px 4px black;
    z-index: 9;
    left:0;
}
#sidemenu ul{
    list-style-type: none;
    padding: 0;
    margin-top:65px;
    background-color: white;
    
}
#sidemenu li{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    border : 1px solid purple;
    background-color: #77529e;
}
#sidemenu li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
#sidemenu li:hover{
    background-color: #a5bdfd;
}
#form{
    margin-left: 200px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #f8f9fa;
    font-size: 20px;
    top: 200px;
    position: relative; 
}
footer{
    background-color: #dcb5ff;
    color: white;
    text-align: center;
    font-size: 15px;
    border: 2px solid purple;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}
footer a{
    color: #77529e;
    text-decoration: none;
    padding : 5px;
    top: 5px;
    bottom: 5px
}
/*Phone Screen*/
@media only screen and (max-width: 768px) {
    header {
        font-size: 18px;
        
    }
    .headertext {
        width: 100%;
        font-size: 16px;
    }
    #sidemenu {
        width: 100%;
        height: 250px;
        position: relative;
        padding-top: 120px;
        box-shadow: none;
        border-right: none;
    }
    #sidemenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sidemenu li {
        width: 100%;
        margin-bottom: 10px;
    }
    #form {
        margin-top: 50px;
        padding-left: 10px;
        margin-left: 0;
        font-size: 18px;

    }
    footer {
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px) {
    header {
        font-size: 18px;
        
    }
    .headertext {
        width: 100%;
        font-size: 16px;
    }
    #sidemenu {
        width: 100%;
        height: 350px;
        position: relative;
        padding-top: 50px;
        box-shadow: none;
        border-right: none;
    }
    #sidemenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sidemenu li {
        width: 100%;
        margin-bottom: 10px;
    }
    #form {
        margin-left: 0;
        margin-bottom: 250px;
        padding: 20px;
        font-size: 18px;
    }
    footer {
        font-size: 12px;
    }
}