<div id="sidemenu">
    <ul>
        <li><a href="/">Home</a></li>
    <% if (username) { %>
        <li><a href="/logout">Logout</a></li>
    <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/create-account">Create an Account</a></li>
    <% } %>
    <li><a href="/find-pet">Find a Pet</a></li>
    <li><a href="/giveaway">Have a Pet to Giveaway?</a></li>
    <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<div id="contact">  
    <h2>Contact Information</h2>
    <ul>
        <li><b>Name:</b> Ashton Levine</li>
        <li><b>Student ID:</b> 40306341</li>
        <li><b>Email:</b> ashtonl@bell.net</li>
    </ul>
</div>
