<div id="sidemenu">
    <ul>
        <li><a href="/">Home</a></li>
    <% if (username) { %>
        <li><a href="/logout">Logout</a></li>
    <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/create-account">Create an Account</a></li>
    <% } %>
    <li><a href="/find-pet">Find a Pet</a></li>
    <li><a href="/giveaway">Have a Pet to Giveaway?</a></li>
    <li><a href="/contact">Contact Us</a></li>
    </ul>
 </div>
<div>
    <form id="form" action="/giveaway" method="POST">
        <fieldset>
            <legend>Giveaway Form</legend>
    
            <label>Type of Pet:</label><br>
            <input type="radio" name="pet" value="dog" id="dog" required>
            <label for="dog">Dog</label>
            <input type="radio" name="pet" value="cat" id="cat" required>
            <label for="cat">Cat</label><br><br>
    
            <label for="dogbreed">Dog Breed:</label><br>
            <select name="dogbreed" id="dogbreed">
                <option value="none">Other</option>
                <option value="labrador">Labrador</option>
                <option value="bulldog">Bulldog</option>
                <option value="poodle">Poodle</option>
                <option value="beagle">Beagle</option>
                <option value="germanshepherd">German Shepherd</option>
                <option value="goldenretriever">Golden Retriever</option>
                <option value="labradoodle">Labradoodle</option>
            </select><br>
    
            <label for="otherdog">If other, type breed here:</label><br>
            <input type="text" name="otherdog" id="otherdog"><br><br>
    
            <label for="catbreed">Cat Breed:</label><br>
            <select name="catbreed" id="catbreed">
                <option value="none">Other</option>
                <option value="persian">Persian</option>
                <option value="siamese">Siamese</option>
                <option value="mainecoon">Mainecoon</option>
            </select><br>
    
            <label for="othercat">If other, type breed here:</label>
            <input type="text" name="othercat" id="othercat"><br><br>
    
            <label>Age of Pet:</label><br>
            <select name="age">
                <option value="young">Young (0 to 1 years old)</option>
                <option value="adult">Adult (2 - 8 years old)</option>
                <option value="senior">Senior (9+ years old)</option>
            </select><br><br>
    
            <label>Choose a Preferred Gender:</label><br>
            <input type="radio" name="gender" value="male" id="male" required>
            <label for="male">Male</label>
            <input type="radio" name="gender" value="female" id="female" required>
            <label for="female">Female</label>
            <input type="radio" name="gender" value="none" id="none" required>
            <label for="none">Doesn't Matter</label><br><br>
    
            <label>Behavior Type (select those that apply):</label><br>
            <input type="checkbox" name="behavior" value="cats" id="cats">
            <label for="cats">Gets along with Cats</label><br>
            <input type="checkbox" name="behavior" value="dogs" id="dogs">
            <label for="dogs">Gets along with Dogs</label><br>
            <input type="checkbox" name="behavior" value="people" id="people">
            <label for="people">Gets along with People/Small Children</label><br><br>
    
            <label for="bragabout">Brag about your pet:</label><br>
            <textarea name="bragabout" id="bragabout"></textarea><br><br>
    
            <label>Please enter your Name and Email below:</label><br>
            <label for="fullname">Full Name:</label>
            <input type="text" name="fullname" id="fullname" required><br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br><br>
    
            <input type="submit" name="submit" value="Submit Form" id="submit" class="SubmitReset">
            <input type="reset" name="reset" value="Reset Form" id="reset" class="SubmitReset">
        </fieldset>
    </form>
    </div>
    <script src = "giveaway.js"></script>
