<div id="sidemenu">
    <ul>
        <li><a href="/">Home</a></li>
    <% if (username) { %>
        <li><a href="/logout">Logout</a></li>
    <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/create-account">Create an Account</a></li>
    <% } %>
    <li><a href="/find-pet">Find a Pet</a></li>
    <li><a href="/giveaway">Have a Pet to Giveaway?</a></li>
    <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<div id = "create-account">
    <form id = "form" action="/create-account" method="POST">
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Create Account</button>
            <% if (errorMessage) { %>
                <p id="errorMessage"><%= errorMessage %></p>
            <% } %>
            <p>Already have an account? <a href="/login" id = "login">Login here</a></p>
        </fieldset>
    </form>
</div>