<div id="sidemenu">
    <ul>
        <li><a href="/">Home</a></li>
        <% if (username) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/create-account">Create an Account</a></li>
        <% } %>
        <li><a href="/find-pet">Find a Pet</a></li>
        <li><a href="/giveaway">Have a Pet to Giveaway?</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<div id="main">  
    <h2>What it means to Adopt a loving pet</h2>
    <p>Adopting a pet is a big decision. Before you adopt, make sure you are ready to commit to caring for a pet for its entire life. You can adopt a pet from a shelter or rescue organization. You can also adopt a pet from a friend or family member who can no longer care for their pet. If you are not ready to adopt a pet, you can still help by volunteering at a shelter or rescue organization. You can also help by donating money or supplies to help care for pets in need.</p>
    <img src="../happyFamily.png" alt="happy family walking dog" id="familydog">
</div>
