    <div id="sidemenu">
    <ul>
        <li><a href="/">Home</a></li>
    <% if (username) { %>
        <li><a href="/logout">Logout</a></li>
    <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/create-account">Create an Account</a></li>
    <% } %>
    <li><a href="/find-pet">Find a Pet</a></li>
    <li><a href="/giveaway">Have a Pet to Giveaway?</a></li>
    <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<div id="privacyinfo">  
    <h2>Privacy Policy</h2>
    <p>Here at Paws and Hearts Pet Adoption, we are committed to protecting your privacy. Our goal is to ensure the security of your personal information.</p>
    <h2>Information Collection and Use</h2>
    <p>We collect only the necessary information required to aid in the facilitation of pet adoptions and ensure the well-beings of our loving animals. this includes: </p>
    <ul>
        <li>Name and contact information.</li>
        <li>Email for direct communication.</li>
    </ul>
    <h2>Data Protection Commitment</h2>
    <p>We promise that your personal information will:</p>
    <ul>
        <li>Never be sold to third parties.</li>
        <li>Never be shared with unknown/unauthorized individuals.</li>
        <li>only be used for pet adoption purposes.</li>
        <li>Be stored in a secure manner.</li>
    </ul>
    <h2>Disclaimer</h2>
    <p>Please note:</p>
    <ul>
        <li>Pet information is provided by current owners and cannot be independently verified by Paws and Hearts Pet Adoption.</li>
        <li>We are not responsible for any inaccuracies in pet listings or descriptions.</li>
        <li>Adoptions should be concluded after personally meeting and evaluating the pet.</li>
        <li>We are not liable for any issues that could potentially arise after adoption.</li>
        <li>Health and behavioural analysis of a pet before or after adoption should be conducted by a medical professional.</li>
    </ul>
    <h2>User Responsibilities</h2>
    <p>by using our website, you acknowledge that:</p>
    <ul>
        <li>You will provide accurate information about yourself and any pets you list/ed.</li>
        <li>You will use the website in a responsible manner and follow our terms of service.</li>
        <li>you understand that pet adoption is a serious commitment and requires careful consideration.</li>
    </ul>
</div>
<script src="adoptionFunctions.js"></script>
